<section>
    <h1 class="generalTitle">Tarifs du salon Toilettage Séduction</h1>

    <p> Les tarifs sont donnés suivant l'état d'entretien du chien et sa
        corpulence, pour un toilettage complet. L'application d'un shampoing spécifique, les soins des ongles, des yeux,
        des oreilles, et la vidange des glandes anales sont compris dans le tarif. Le démêlage nécessaire en supplément
        en accord avec les propriétaires. Les prix de base sont applicables à un animal
        normalement entretenu, de race ou se rapprochant le plus du type de la race.
        Mes tarifs sont identiques en tonte ou en coupe ciseaux.
        Pour les chiens susceptibles d'être épilés, se référer aux explications données dans leur conseil. Si
        vous souhaitez un tarif précis, vous pouvez venir me faire voir votre chien avant toilettage (téléphoner avant
        de venir).

        La coupe des ongles (chiens, chats, oiseaux, rongeurs, ...) et l'épilation des oreilles peuvent s'effectuer sans
        toilettage complet. </p>


    <div class="background card">

        <div class="leftBox card">
            <div class="card" style="width: 18rem;">
                <div class="card-body">

                    {% for animal in animals %}
                        <details>
                            <summary class="titleAnimals">{{ animal.name }}</summary>
                            <nav>
                                {% for category in categories %}
                                    <details>
                                        <summary class="titleCategorie">{{ category.name }}</summary>
                                        <nav>
                                            <ul class="titleRace">
                                                {% for race in races %}
                                                    <li><a href="/price/index/?id={{ race.id }}">{{ race.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </nav>
                                    </details>
                                {% endfor %}
                            </nav>
                        </details>
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="rightBox card">

            <div class="titleTarif card">
                <hr class="barre">
                <h3>Tarifs</h3>
                <hr class="barre">
            </div>

            <div class="boxTarif card">
                <div class="leftTarif card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">Nettoyage Simple</h4>
                        <p class="card-text">{{ showAnimal.price }} €</p>
                    </div>
                </div>
                <div class="rightTarif card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">Défrisage</h4>
                        <p class="card-text">50 €</p>
                    </div>
                </div>
            </div>

            <div class="titlePhoto card">
                <hr class="barre">
                <h3>Photos</h3>
                <hr class="barre">
            </div>


            <div class="boxPhoto card">
                <div class="leftPicture card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Avant">
                </div>

                <div class="rightpicture card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="Après">
                </div>

            </div>
        </div>

    </div>
</section>
