{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style_pricelist.css"> {% endblock %}

{% block title %}Tarifs Toilettage Séduction{% endblock %}


{% block content %}
    <section>
        <div class="titlePresentation">
          <h1>Tarifs du salon Toilettage Séduction</h1>
        </div>

        <div class="row">
            <p class="col-10 offset-1 paragraphInfo"> Les tarifs sont donnés suivant l'état d'entretien du chien et sa
                corpulence, pour un toilettage complet. Les prix de base sont applicables à un animal
                normalement entretenu, de race ou se rapprochant le plus du type de la race.
                Mes tarifs sont identiques en tonte ou en coupe ciseaux.
                Pour les chiens susceptibles d'être épilés, se référer aux explications données dans leur conseil. Si
                vous souhaitez un tarif précis, vous pouvez venir me faire voir votre chien avant toilettage (téléphoner
                avant
                de venir).</p>
        </div>
        <div class="container-fluid boxes row">
            <div class=" col-md-2 offset-md-1">
                <div class="leftBox card">
                    {% for animalName, groupedAnimal in groupedAnimals %}
                        <div class="card-header headerCollapse">
                            <p class="titleAnimals">{{ animalName }}</p>
                        </div>

                        <div class="accordion" id="accordionCategory">
                            <div class="card">

                                {% for categoryName, animals in groupedAnimal %}
                                    <div class="card-header categoryHeader" id="heading{{ categoryName }}">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#collapse{{ categoryName }}"
                                                aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                                            {{ categoryName }}
                                        </button>
                                    </div>

                                    {% for animal in animals %}
                                        <div id="collapse{{ categoryName }}" class="collapse raceHeader"
                                             aria-labelledby="heading{{ categoryName }}"
                                             data-parent="#accordionCategory">
                                            <div class="card-body sub">
                                                <a href="/pricelist/index/{{ animal.id }}#prices">{{ animal.race_name }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endfor %}

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

                <div id="prices" class="rightBox col-md-7 offset-md-1">

                <div class="titlePrices card">
                    <hr class="line">
                    <h3 class="titleRightBox">Tarifs {{ race.name }}</h3>
                    <hr class="line">
                </div>

                <div class="pricesBox card my-5 border-0">
                    <div class="pricesBoxLeft card">
                        <p>Nettoyage Simple : {{ race.price }} €</p>
                    </div>
                    <div class="pricesBoxRight card">
                        <p>Avec Défrisage : {{ straighteningPrice }} €</p>
                    </div>
                </div>

                <div class="titlePhoto card">
                    <hr class="line">
                    <h3 class="titleRightBox">Photos</h3>
                    <hr class="line">
                </div>

                <div class="photoBox card my-5 border-0">
                    <div class="card border shadowCard-1">
                        <img class="photoBoxLeft" src="/uploads/before/{{ race.before }}"
                             alt="Avant">
                    </div>
                    <div class="card border shadowCard-1">
                        <img class="photoBoxRight" src="/uploads/after/{{ race.after }}"
                              alt="Après">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
