{% extends 'layoutAdmin.html.twig' %}

{% block title %}Ajouter Catégorie{% endblock %}

    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/style_category.css" xmlns="http://www.w3.org/1999/html">
    {% endblock %}

{% block content %}
    <div class="container-fluid form-admin">

        <h1>Ajouter une nouvelle catégorie</h1>
        <form method="post" action="">

            <div class="row">

                <div class="form-group">
                    <label for="category">Sélectionner l'Animal :</label>
                    <select name="animal" class="custom-select" id="animal">
                        {% for animal in animals %}
                            <option {{ animal.id == category.animal_id ? 'selected' }}
                                    value="{{ animal.id }}">{{ animal.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="category">Nom de la catégorie :</label>
                    <input type="text" id="category" class="form-control" name="category" value="{{ category.name }}">
                    {% if errors.category is defined %}
                        {{ errors.category }}
                    {% endif %}
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">

                    <div>
                        <input type="submit" value="Valider" class="btn btn-success mr-4">
                    </div>

                    <div>
                        <a href="/Category/index">
                            <button type="button" class="btn btn-secondary mr-4">Retour</button>
                        </a>
                    </div>
                </div>
            </div>

        </form>
    </div>
{% endblock %}