<form method="post" action="" class="form-admin-race" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <input type="hidden" name="id" value="{{ race.id }}">

            <div class="form-group">
                <label for="category">Catégorie :</label>
                <select name="category" class="custom-select" id="category">
                    {% for category in categories %}
                        <option {{ category.id == race.category_id ? 'selected' }}
                                value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="name">Nom :</label>
                <input type="text" class="form-control" name="name" value="{{ race.name ?? race.name }}">
                {% if errors.name is defined %}
                    {{ errors.name }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="price">Prix :</label>
                <input type="text" class="form-control" name="price" value="{{ race.price ?? race.price }}">
            </div>
            {% if errors.price is defined %}
                {{ errors.price }}
            {% endif %}
            <div class="form-group">
                <label for="description">Description :</label>
                <input type="text" class="form-control" name="description" id="description"
                       value="{{ race.description ?? race.description }}"/>
                {% if errors.description is defined %}
                    {{ errors.description }}
                {% endif %}
            </div>

            <div class="form-group">
                <label for="image">Image :</label>
                <input type="text" class="form-control" name="path" id="image"
                       value="{{ race.image ?? race.image }}"/>
                <img src="/uploads/{{ race.image }}">
            </div>
            <input id="image" type="file" name="path"/>
            {% if errors.image is defined %}
                {{ errors.image }}
            {% endif %}

            <div class="form-group">
                <label for="image-before">Image toilletage avant:</label>
                <input type="text" class="form-control" name="path-before" id="image-before"
                       value="{{ race.before ?? race.before }}"/>
                <img src="/uploads/before/{{ race.before }}">
            </div>
            <input id="image" type="file" name="path-before"/>
            {% if errors.image is defined %}
                {{ errors.image }}
            {% endif %}

            <div class="form-group">
                <label for="image-after">Image toilletage après:</label>
                <input type="text" class="form-control" name="path-after" id="image-after"
                       value="{{ race.after ?? race.after }}"/>
                <img src="/uploads/after/{{ race.after }}">
            </div>
            <input id="image" type="file" name="path-after"/>
            {% if errors.image is defined %}
                {{ errors.image }}
            {% endif %}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                        <input type="submit" value="Valider" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

